<h1>
  {{title}}
</h1>

<div *ngIf="versions; then versionTable else loading"></div>
<ng-template #versionTable>
  <table>
    <thead>
      <tr>
        <th>App</th>
        <th>Build</th>
        <th>Electron</th>
        <th>Astilectron</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{versions.app}}</td>
        <td>{{versions.build}}</td>
        <td>{{versions.electron}}</td>
        <td>{{versions.astilectron}}</td>
      </tr>
    </tbody>
  </table>
</ng-template>
<ng-template #loading>
  Loading, just a moment...
</ng-template>
